CapturaHuellaBanco/WCFBanco/Service References/ServicioFachadaOlimpia/FachadaServicioColpatria17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.olimpiait.com/Reconoser/ReconoserColpatria/2016/10/Data" elementFormDefault="qualified" targetNamespace="http://www.olimpiait.com/Reconoser/ReconoserColpatria/2016/10/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTiempoDentroFuera">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TiempoDentroFuera" nillable="true" type="tns:TiempoDentroFuera" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTiempoDentroFuera" nillable="true" type="tns:ArrayOfTiempoDentroFuera" />
  <xs:complexType name="TiempoDentroFuera">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dentro" type="xs:int" />
      <xs:element minOccurs="0" name="Fuera" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TiempoDentroFuera" nillable="true" type="tns:TiempoDentroFuera" />
</xs:schema>