CapturaHuellaBanco/WCFBanco/Service References/ServicioFachadaOlimpia/FachadaServicioColpatria261.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.olimpiait.com/Reconoser/ReconoserColpatria/2016/16/Data" elementFormDefault="qualified" targetNamespace="http://www.olimpiait.com/Reconoser/ReconoserColpatria/2016/16/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServicioVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdServicio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicioVM" nillable="true" type="tns:ServicioVM" />
  <xs:complexType name="ArrayOfServicioVM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServicioVM" nillable="true" type="tns:ServicioVM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServicioVM" nillable="true" type="tns:ArrayOfServicioVM" />
</xs:schema>