CapturaHuellaBanco/WCFBanco/Service References/ServicioFachadaOlimpia/FachadaServicioColpatria15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.olimpiait.com/Reconoser/ReconoserColpatria/2016/14/Data" elementFormDefault="qualified" targetNamespace="http://www.olimpiait.com/Reconoser/ReconoserColpatria/2016/14/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductoVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdServicio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoVM" nillable="true" type="tns:ProductoVM" />
  <xs:complexType name="ArrayOfProductoVM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductoVM" nillable="true" type="tns:ProductoVM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductoVM" nillable="true" type="tns:ArrayOfProductoVM" />
</xs:schema>