CapturaHuellaBanco/WCFBanco/Service References/ServicioFachadaOlimpia/FachadaServicioColpatria263.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.olimpiait.com/Reconoser/ReconoserColpatria/2016/15/Data" elementFormDefault="qualified" targetNamespace="http://www.olimpiait.com/Reconoser/ReconoserColpatria/2016/15/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RolVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdRol" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RolVM" nillable="true" type="tns:RolVM" />
  <xs:complexType name="ArrayOfRolVM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RolVM" nillable="true" type="tns:RolVM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRolVM" nillable="true" type="tns:ArrayOfRolVM" />
</xs:schema>