CapturaHuellaBanco/WCFBanco/Service References/ServicioFachadaOlimpia/FachadaServicioColpatria262.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.olimpiait.com/Reconoser/ReconoserColpatria/2016/06/Data" elementFormDefault="qualified" targetNamespace="http://www.olimpiait.com/Reconoser/ReconoserColpatria/2016/06/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogOperacionVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaExpedicion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdOficina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdServicio" type="xs:int" />
      <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreServicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDedo" type="xs:short" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RespuestaAFI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sigla" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vigencia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogOperacionVM" nillable="true" type="tns:LogOperacionVM" />
  <xs:complexType name="ArrayOfLogOperacionVM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogOperacionVM" nillable="true" type="tns:LogOperacionVM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogOperacionVM" nillable="true" type="tns:ArrayOfLogOperacionVM" />
</xs:schema>