CapturaHuellaBanco/WCFBanco/Service References/ServicioFachadaOlimpia/FachadaServicioColpatria28.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Olimpia.Reconoser.Dominio.EntidadesZeus" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Olimpia.Reconoser.Dominio.EntidadesZeus" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.150.14.194:8061/FachadaServicioColpatria.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://10.150.14.194:8061/FachadaServicioColpatria.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://10.150.14.194:8061/FachadaServicioColpatria.svc?xsd=xsd4" namespace="http://www.olimpiait.com/Reconoser/Zeus/2016/01/Data" />
  <xs:complexType name="BiometriasEnrtada">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="IdConvenioautenticacion" type="ser:guid" />
      <xs:element minOccurs="0" name="NumeroIdentificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoIdentificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BiometriasEnrtada" nillable="true" type="tns:BiometriasEnrtada" />
  <xs:simpleType name="Respuesta.EstadoRespuesta">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Respuesta.EstadoRespuesta" nillable="true" type="tns:Respuesta.EstadoRespuesta" />
  <xs:complexType name="ArrayOfBiometria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Biometria" nillable="true" type="tns:Biometria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBiometria" nillable="true" type="tns:ArrayOfBiometria" />
  <xs:complexType name="Biometria">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MuestrasHabilitadas" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MuestrasPreferidas" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="NumeroMuestras" type="xs:int" />
      <xs:element minOccurs="0" name="idTipoBiometria" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Biometria" nillable="true" type="tns:Biometria" />
  <xs:complexType name="ArrayOfDocumentosValidos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentosValidos" nillable="true" type="tns:DocumentosValidos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentosValidos" nillable="true" type="tns:ArrayOfDocumentosValidos" />
  <xs:complexType name="DocumentosValidos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentosValidos" nillable="true" type="tns:DocumentosValidos" />
  <xs:complexType name="ProcesoEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" name="BiometriasProceso" nillable="true" type="tns:ArrayOfBiometriaProceso" />
      <xs:element minOccurs="0" name="FechaPeticion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="IdConvenioautenticacion" type="ser:guid" />
      <xs:element minOccurs="0" name="IdPeticion" type="ser:guid" />
      <xs:element minOccurs="0" name="IdTerminal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpTerminal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MacTerminal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroBiometrias" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroIdentificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoIdentificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tramite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioTerminal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcesoEntrada" nillable="true" type="tns:ProcesoEntrada" />
  <xs:complexType name="ArrayOfBiometriaProceso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BiometriaProceso" nillable="true" type="tns:BiometriaProceso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBiometriaProceso" nillable="true" type="tns:ArrayOfBiometriaProceso" />
  <xs:complexType name="BiometriaProceso">
    <xs:sequence>
      <xs:element minOccurs="0" name="Buffer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Consecutivo" type="xs:int" />
      <xs:element minOccurs="0" name="Formato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSubtipo" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BiometriaProceso" nillable="true" type="tns:BiometriaProceso" />
  <xs:complexType name="ArrayOfBiometriaRespuesta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BiometriaRespuesta" nillable="true" type="tns:BiometriaRespuesta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBiometriaRespuesta" nillable="true" type="tns:ArrayOfBiometriaRespuesta" />
  <xs:complexType name="BiometriaRespuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Buffer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Consecutivo" type="xs:int" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Formato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSubtipo" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipo" type="xs:int" />
      <xs:element minOccurs="0" name="Resultado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BiometriaRespuesta" nillable="true" type="tns:BiometriaRespuesta" />
  <xs:complexType name="CandidatoRespuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpFecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpLugar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTipoDocumento" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroIdentificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vigencia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CandidatoRespuesta" nillable="true" type="tns:CandidatoRespuesta" />
  <xs:complexType name="RespuestaFormato">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://www.olimpiait.com/Reconoser/Zeus/2016/01/Data" base="q3:Respuesta">
        <xs:sequence>
          <xs:element minOccurs="0" name="Archivo" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="ArchivoRechazo" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Formato" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdFormato" type="xs:long" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespuestaFormato" nillable="true" type="tns:RespuestaFormato" />
</xs:schema>