CapturaHuellaBanco/WCFBanco/Service References/ServicioFachadaOlimpia/FachadaServicioColpatria9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.olimpiait.com/Reconoser/ReconoserColpatria/2016/19/Data" elementFormDefault="qualified" targetNamespace="http://www.olimpiait.com/Reconoser/ReconoserColpatria/2016/19/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ParametroVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaModificacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdParametro" type="xs:int" />
      <xs:element minOccurs="0" name="UsuarioModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametroVM" nillable="true" type="tns:ParametroVM" />
  <xs:complexType name="ArrayOfParametroVM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParametroVM" nillable="true" type="tns:ParametroVM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParametroVM" nillable="true" type="tns:ArrayOfParametroVM" />
</xs:schema>