CapturaHuellaBanco/WCFBanco/Service References/ServicioFachadaOlimpia/FachadaServicioColpatria1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.olimpiait.com/Reconoser/ReconoserColpatria/2016/21/Data" elementFormDefault="qualified" targetNamespace="http://www.olimpiait.com/Reconoser/ReconoserColpatria/2016/21/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTransaccionesOficina">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransaccionesOficina" nillable="true" type="tns:TransaccionesOficina" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaccionesOficina" nillable="true" type="tns:ArrayOfTransaccionesOficina" />
  <xs:complexType name="TransaccionesOficina">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aprobados" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="NoAprobados" type="xs:int" />
      <xs:element minOccurs="0" name="Oficina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorUnitario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransaccionesOficina" nillable="true" type="tns:TransaccionesOficina" />
</xs:schema>