CapturaHuellaBanco/Servicios/Service References/ServicioFachadaZeus/FachadaServicioZeus3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.olimpiait.com/Reconoser/ParametrosZeus/2016/24/Data" elementFormDefault="qualified" targetNamespace="http://www.olimpiait.com/Reconoser/ParametrosZeus/2016/24/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRespuestaServicio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RespuestaServicio" nillable="true" type="tns:RespuestaServicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRespuestaServicio" nillable="true" type="tns:ArrayOfRespuestaServicio" />
  <xs:complexType name="RespuestaServicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdServicio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaServicio" nillable="true" type="tns:RespuestaServicio" />
</xs:schema>