CapturaHuellaBanco/Servicios/Service References/ServicioFachadaZeus/FachadaServicioZeus18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.olimpiait.com/Reconoser/ParametrosZeus/2016/28/Data" elementFormDefault="qualified" targetNamespace="http://www.olimpiait.com/Reconoser/ParametrosZeus/2016/28/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RespuestaCertificado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Certificado" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Llave" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Root" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaCertificado" nillable="true" type="tns:RespuestaCertificado" />
</xs:schema>