CapturaHuellaBanco/Servicios/Service References/ServicioFachadaZeus/FachadaServicioZeus20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.olimpiait.com/Reconoser/ParametrosZeus/2016/23/Data" elementFormDefault="qualified" targetNamespace="http://www.olimpiait.com/Reconoser/ParametrosZeus/2016/23/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRespuestaProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RespuestaProducto" nillable="true" type="tns:RespuestaProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRespuestaProducto" nillable="true" type="tns:ArrayOfRespuestaProducto" />
  <xs:complexType name="RespuestaProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdServicio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaProducto" nillable="true" type="tns:RespuestaProducto" />
</xs:schema>