CapturaHuellaBanco/Servicios/Service References/ServicioFachadaZeus/FachadaServicioZeus7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://www.olimpiait.com/Reconoser/Zeus/2016/03/Data" elementFormDefault="qualified" targetNamespace="http://www.olimpiait.com/Reconoser/Zeus/2016/03/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://10.130.0.20:6348/FachadaServicioZeus.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Olimpia.Reconoser.Dominio.EntidadesZeus" />
  <xs:import schemaLocation="https://10.130.0.20:6348/FachadaServicioZeus.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://10.130.0.20:6348/FachadaServicioZeus.svc?xsd=xsd4" namespace="http://www.olimpiait.com/Reconoser/Zeus/2016/01/Data" />
  <xs:complexType name="RespuestaProceso">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.olimpiait.com/Reconoser/Zeus/2016/01/Data" base="q1:Respuesta">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Olimpia.Reconoser.Dominio.EntidadesZeus" minOccurs="0" name="Biometrias" nillable="true" type="q2:ArrayOfBiometriaRespuesta" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Olimpia.Reconoser.Dominio.EntidadesZeus" minOccurs="0" name="Candidato" nillable="true" type="q3:CandidatoRespuesta" />
          <xs:element minOccurs="0" name="EstadoPeticion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fecharespuesta" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IdPeticion" type="ser:guid" />
          <xs:element minOccurs="0" name="IdRespuesta" type="xs:long" />
          <xs:element minOccurs="0" name="IdTransaccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Resultado" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespuestaProceso" nillable="true" type="tns:RespuestaProceso" />
</xs:schema>