CapturaHuellaBanco/Servicios/Service References/ServicioFachadaZeus/ServicioFachadaZeus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.olimpiait.com/Reconoser/FachadaZeus/2016/12/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioFachadaZeus" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IServicioFachadaZeus_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.olimpiait.com/Reconoser/FachadaZeus/2016/12/" location="http://10.150.11.44:8162/FachadaServicioZeus.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WSHttpBinding_IServicioFachadaZeus" type="i0:IServicioFachadaZeus">
    <wsp:PolicyReference URI="#WSHttpBinding_IServicioFachadaZeus_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerBiometrias">
      <soap12:operation soapAction="http://www.olimpiait.com/Reconoser/FachadaZeus/2016/12/IServicioFachadaZeus/ObtenerBiometrias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarIdentidad">
      <soap12:operation soapAction="http://www.olimpiait.com/Reconoser/FachadaZeus/2016/12/IServicioFachadaZeus/VerificarIdentidad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFormatoProteccionDatos">
      <soap12:operation soapAction="http://www.olimpiait.com/Reconoser/FachadaZeus/2016/12/IServicioFachadaZeus/ObtenerFormatoProteccionDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarSolicitud">
      <soap12:operation soapAction="http://www.olimpiait.com/Reconoser/FachadaZeus/2016/12/IServicioFachadaZeus/cancelarSolicitud" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarSolicitudAplicacion">
      <soap12:operation soapAction="http://www.olimpiait.com/Reconoser/FachadaZeus/2016/12/IServicioFachadaZeus/consultarSolicitudAplicacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarSolicitudTerminada">
      <soap12:operation soapAction="http://www.olimpiait.com/Reconoser/FachadaZeus/2016/12/IServicioFachadaZeus/ActualizarSolicitudTerminada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerOficinasActivas">
      <soap12:operation soapAction="http://www.olimpiait.com/Reconoser/FachadaZeus/2016/12/IServicioFachadaZeus/obtenerOficinasActivas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerParametros">
      <soap12:operation soapAction="http://www.olimpiait.com/Reconoser/FachadaZeus/2016/12/IServicioFachadaZeus/obtenerParametros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerProductosActivos">
      <soap12:operation soapAction="http://www.olimpiait.com/Reconoser/FachadaZeus/2016/12/IServicioFachadaZeus/obtenerProductosActivos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerServiciosActivos">
      <soap12:operation soapAction="http://www.olimpiait.com/Reconoser/FachadaZeus/2016/12/IServicioFachadaZeus/obtenerServiciosActivos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerUsuarioActivo">
      <soap12:operation soapAction="http://www.olimpiait.com/Reconoser/FachadaZeus/2016/12/IServicioFachadaZeus/obtenerUsuarioActivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerZonas">
      <soap12:operation soapAction="http://www.olimpiait.com/Reconoser/FachadaZeus/2016/12/IServicioFachadaZeus/obtenerZonas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reporteOperaciones">
      <soap12:operation soapAction="http://www.olimpiait.com/Reconoser/FachadaZeus/2016/12/IServicioFachadaZeus/reporteOperaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearErrorApp">
      <soap12:operation soapAction="http://www.olimpiait.com/Reconoser/FachadaZeus/2016/12/IServicioFachadaZeus/crearErrorApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearOperacionApp">
      <soap12:operation soapAction="http://www.olimpiait.com/Reconoser/FachadaZeus/2016/12/IServicioFachadaZeus/crearOperacionApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearIngresoApp">
      <soap12:operation soapAction="http://www.olimpiait.com/Reconoser/FachadaZeus/2016/12/IServicioFachadaZeus/crearIngresoApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarSalidaApp">
      <soap12:operation soapAction="http://www.olimpiait.com/Reconoser/FachadaZeus/2016/12/IServicioFachadaZeus/actualizarSalidaApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearAutorizacionCandidato">
      <soap12:operation soapAction="http://www.olimpiait.com/Reconoser/FachadaZeus/2016/12/IServicioFachadaZeus/crearAutorizacionCandidato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCertificado">
      <soap12:operation soapAction="http://www.olimpiait.com/Reconoser/FachadaZeus/2016/12/IServicioFachadaZeus/obtenerCertificado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioFachadaZeus">
    <wsdl:port name="WSHttpBinding_IServicioFachadaZeus" binding="tns:WSHttpBinding_IServicioFachadaZeus">
      <soap12:address location="https://olsrvpruaprs01.olimpiait.local:8160/FachadaServicioZeus.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://olsrvpruaprs01.olimpiait.local:8160/FachadaServicioZeus.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>